#results-container {
    background: rgb(245, 245, 245);
}

#cards-results-title {
    text-align: center;
    color: #000;
    margin: 0 2rem 2rem 2rem;
    padding: 2rem 0 0 0 ;
    font-weight: 1000;
    font-size: 2rem;
}

#cards-results-container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

